[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
frozendict = "*"

[requires]
python_version = "3.6"

[scripts]
get_playlist = "python get_playlist.py"
summarize_artists = "python summarize_artists.py"
summarize_playlists = "python summarize_playlists.py"
tabulate_artist_counts = "python tabulate_artist_counts.py"
